aside {
  background: #e4e5e6;
  box-shadow: inset 0px -1px 0px rgba(150, 150, 150, 0.25);
  font-size: 36px;
  line-height: 460px;
  padding: 10px;
  color: #707070;
  flex-grow: 3;
}

main {
  box-sizing: border-box;
  height: 80vh;
  width: 100%;
  overflow-x: hidden;
}

.table {
  margin: 20px 40px;
  box-sizing: border-box;
  flex-grow: 9;
}

.select {
  background: rgba(240, 242, 244, 0.5);
  border: 1px solid #dee5eb;
  box-shadow: inset -1px 0px 0px rgba(198, 209, 221, 0.5);
  height: 25px;
  line-height: 24px;
  padding-left: 10px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .table {
    width: 750px;
    margin: 20px 20px;
  }
}

@media (max-width: 1024px) {
  .table {
    width: 550px;
    margin: 20px 20px;
  }
}

@media (max-width: 768px) {
  aside {
    flex: 100px 1;
  }
  .table {
    width: 100px;
    margin: 20px 20px;
  }
  .select {
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  aside {
    width: 50px;
    padding: 0;
  }
}

@media (max-width: 375px) {
  aside {
    font-size: 34px;
  }
}
